In [ ]:
rt data
Join multiple data sets
Detect missing values
Look for anomalies (1, 2, 3, “Fred”?)
Impute for missing values
Data quality assurance

In [ ]:
mFormulate relevant questions, and hypotheses
Test those questions with visualizations
Identify trends in the data
Look for relationships between variables
Communicate results with visualizations (scatter plots, histograms, etc.)

In [ ]:
reating dashboards:

Know your audience
Tell a story
Keep things simple
Use appropriate visualizations

In [1]:
import pandas as pd

In [2]:
file_path = "C:\\Users\\Fouzia Yessad\\PycharmProjects\\DataScienceInArabic\\data\\WA_American-Time-Use-Survey-lite.csv"

In [3]:
df = pd.read_csv(file_path)
df.head()

,Education Level,Age,Age Range,Employment Status,Gender,Children,Weekly Earnings,Year,Weekly Hours Worked,Sleeping,...,Caring for Children,Playing with Children,Job Searching,Shopping,Eating and Drinking,Socializing & Relaxing,Television,Golfing,Running,Volunteering
0,High School,51,50-59,Unemployed,Female,0,0,2005,0,825,...,0,0,0,0,40,180,120,0,0,0
1,Bachelor,42,40-49,Employed,Female,2,1480,2005,40,500,...,365,20,0,120,40,15,15,0,0,0
2,Master,47,40-49,Employed,Male,0,904,2005,40,480,...,0,0,0,15,85,214,199,0,0,0
3,Some College,21,20-29,Employed,Female,0,320,2005,40,705,...,0,0,0,105,30,240,240,0,0,0
4,High School,49,40-49,Not in labor force,Female,0,0,2005,0,470,...,0,0,0,0,35,600,40,0,0,0

In [9]:
df.shape

(97275, 23)

In [4]:
df.dtypes

Education Level           object
Age                        int64
Age Range                 object
Employment Status         object
Gender                    object
Children                   int64
Weekly Earnings            int64
Year                       int64
Weekly Hours Worked        int64
Sleeping                   int64
Grooming                   int64
Housework                  int64
Food & Drink Prep          int64
Caring for Children        int64
Playing with Children      int64
Job Searching              int64
Shopping                   int64
Eating and Drinking        int64
Socializing & Relaxing     int64
Television                 int64
Golfing                    int64
Running                    int64
Volunteering               int64
dtype: object