In [1]:
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf

SyntaxError: invalid syntax (<ipython-input-1-929fff10e42f>, line 1)

## PANDAS : Python Data Analysis Library
مكتبة بايثون لتحليل البيانات 

The Pandas library is built on NumPy and provides easy-to-use
data structures and data analysis tools for the Python
programming language

مكتبة بانداس هي مبنية على مكتبة نامباي و توفر هياكل بنيوية سهلة الاستعمال و أدوات لتحليل البيانات من أجل البرمجة باستعمال لغة بايثون

https://pandas.pydata.org/

In [10]:
import pandas as pd

## <center style = "color:red"> series </center>

A one-dimensional labeled array a capable of holding any data type

In [32]:
s = pd.Series(
    [3, -5, 7, 4]
)

In [33]:
s

0    3
1   -5
2    7
3    4
dtype: int64

In [34]:
type(s)

pandas.core.series.Series

In [28]:
# Get one element
s[0]

3

In [38]:
s = pd.Series(
    [3, -5, 7, 4], 
    index=['a', 'b', 'c', 'd']
)

In [5]:
s['b']

-5

In [30]:
# Drop values from rows (axis=0)
s.drop(['a', 'c'])

b   -5
d    4
dtype: int64

### Boolean Indexing

In [35]:
# Series s where value is >1
s[s > 1]

0    3
2    7
3    4
dtype: int64

In [ ]:
# Series s where value is not >1
s[~(s > 1)]

In [ ]:
# s where value is <-1 or >2
s[(s < -1) | (s > 2)]

In [ ]:
# Setting
s['a'] = 6 Set index a of Series s to 6

### Data Alignment

In [40]:
s

a    3
b   -5
c    7
d    4
dtype: int64

In [43]:

s3 = pd.Series([7, -2, 3, 5], index=['a', 'c', 'd','e'])
s3

a    7
c   -2
d    3
e    5
dtype: int64

In [44]:
s.add(s3, fill_value=0)

a    10.0
b    -5.0
c     5.0
d     7.0
e     5.0
dtype: float64

In [46]:
s.sub(s3, fill_value=2)
-3 ???

a   -4.0
b   -7.0
c    9.0
d    1.0
e   -3.0
dtype: float64

In [47]:
s.div(s3, fill_value=4)

a    0.428571
b   -1.250000
c   -3.500000
d    1.333333
e    0.800000
dtype: float64

In [48]:
s.mul(s3, fill_value=3)

a    21.0
b   -15.0
c   -14.0
d    12.0
e    15.0
dtype: float64

## <center style = "color:red"> Data Frame </center>

A two-dimensional labeled data structure with columns of potentially different types

In [6]:
data = {
    'Country': ['Morocco', 'China', 'France'],
    'Capital': ['Rabat', 'Beijing', 'Paris'],
    'Population': [30000000, 1000000000, 80000000]
}

df = pd.DataFrame(
    data,
    columns=['Country', 'Capital', 'Population']
)

In [11]:
df

   Country  Capital  Population
0  Morocco    Rabat    30000000
1    China  Beijing  1000000000
2   France    Paris    80000000

In [61]:
df.info() # Info on DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [69]:
df.describe() # Summary statistics

         Population
count  3.000000e+00
mean   3.700000e+08
std    5.461685e+08
min    3.000000e+07
25%    5.500000e+07
50%    8.000000e+07
75%    5.400000e+08
max    1.000000e+09

### Data frame selection & filtering

In [52]:
df[df['Population']>60000000] # Use filter to adjust DataFrame

  Country  Capital  Population
1   China  Beijing  1000000000
2  France    Paris    80000000

In [12]:
# Getting element  
df[1:] # Get subset of a DataFram

  Country  Capital  Population
1   China  Beijing  1000000000
2  France    Paris    80000000

#### iloc (index location)

In [14]:
# By Position
df.iloc[[0],[0]] # Select single value by row & column

   Country
0  Morocco

In [15]:
df.iat([0],[0])

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [16]:
help(df.iat)

Help on _iAtIndexer in module pandas.core.indexing object:

class _iAtIndexer(_ScalarAccessIndexer)
 |  Fast integer location scalar accessor.
 |
 |  Similarly to ``iloc``, ``iat`` provides **integer** based lookups.
 |  You can also set using these indexers.
 |
 |  Method resolution order:
 |      _iAtIndexer
 |      _ScalarAccessIndexer
 |      _NDFrameIndexer
 |      builtins.object
 |
 |  Methods inherited from _ScalarAccessIndexer:
 |
 |  __getitem__(self, key)
 |
 |  __setitem__(self, key, value)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _NDFrameIndexer:
 |
 |  __call__(self, axis=None)
 |      Call self as a function.
 |
 |  __init__(self, obj, name)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _NDFrameIndexer:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from _NDFrameIndexer:
 |
 |  axis = None

In [19]:
# By Label
df.loc[[0], ['Country']] #Select single value by row &column labels

   Country
0  Morocco

#### at

In [20]:
df.at([0], ['Country'])

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

#### ix

In [21]:
# By Label/Position
df.ix[2] # Select single row of Country Brazil subset of rows Capital Brasília Population 207847528

C:\Users\Fouzia Yessad\py36\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

Country         France
Capital          Paris
Population    80000000
Name: 2, dtype: object

In [22]:
df.ix[:,'Capital'] # Select a single column of 0 Brussels subset of columns

0      Rabat
1    Beijing
2      Paris
Name: Capital, dtype: object

In [23]:
df.ix[1,'Capital'] #Select rows and columns

'Beijing'

### Dropping columns/rows

In [24]:
#Dropping
df.drop('Country', axis=1) # Drop values from columns(axis=1)

   Capital  Population
0    Rabat    30000000
1  Beijing  1000000000
2    Paris    80000000

#### Sort & Rank

In [53]:
df.sort_index() #Sort by labels along an axis

   Country  Capital  Population
0  Morocco    Rabat    30000000
1    China  Beijing  1000000000
2   France    Paris    80000000

In [54]:
# Sort by the values along an axis
df.sort_values(by='Country')

   Country  Capital  Population
1    China  Beijing  1000000000
2   France    Paris    80000000
0  Morocco    Rabat    30000000

In [55]:
# Assign ranks to entries
df.rank()

   Country  Capital  Population
0      3.0      3.0         1.0
1      1.0      1.0         3.0
2      2.0      2.0         2.0

In [57]:
df.shape # (rows,columns)

(3, 3)

In [58]:
df.index # Describe index

RangeIndex(start=0, stop=3, step=1)

In [59]:
df.columns # Describe DataFrame columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [ ]:
df.count() # Number of non-NA values

### Summary

In [63]:
df.sum() # Sum of values

Country       MoroccoChinaFrance
Capital        RabatBeijingParis
Population            1110000000
dtype: object

In [64]:
df.cumsum() # Cummulative sum of values

              Country            Capital  Population
0             Morocco              Rabat    30000000
1        MoroccoChina       RabatBeijing  1030000000
2  MoroccoChinaFrance  RabatBeijingParis  1110000000

In [66]:
df["Population"].min()/df["Population"].max() # Minimum/maximum values

0.03

In [67]:
df.idxmin()/df.idxmax() # Minimum/Maximum index value

TypeError: reduction operation 'argmin' not allowed for this dtype

In [ ]:
df.mean() # Mean of values

In [ ]:
df.median() # Median of values

### Applying Functions

In [70]:
f = lambda x: x*2

In [71]:
df.apply(f) # Apply function

          Country         Capital  Population
0  MoroccoMorocco      RabatRabat    60000000
1      ChinaChina  BeijingBeijing  2000000000
2    FranceFrance      ParisParis   160000000

In [72]:
df.applymap(f) # Apply function element-wise

          Country         Capital  Population
0  MoroccoMorocco      RabatRabat    60000000
1      ChinaChina  BeijingBeijing  2000000000
2    FranceFrance      ParisParis   160000000

In [1]:
df['Population'].apply(lambda x:x/3+1) # Apply function

NameError: name 'df' is not defined

In [ ]:
df['new_column'] = df['Population'].apply(lambda x:x/3+1) # Apply function

In [ ]:
df